/*
* @category controls
* @component date-picker
* @spark-ui
*/

@import '../settings/date-picker';
@import '../settings/inputs';

@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-datepicker') {
  .#{$datepicker__class} {

    &-container {
      .#{$input__class} {
        + i,
        + .#{$icon__class} {
          position: absolute;
          top: 8px;
          right: 0;
          left: 0;
          width: rem-calc(20); // this width must match icon width for centering
          margin-right: rem-calc(16);
          margin-left: auto;
        }
      }
    }

    &__header {
      padding-top: rem-calc(8);
    }

    &__navigation {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding-right: rem-calc(16);
      padding-left: rem-calc(16);

      &--current-month {
        font-weight: bold;
      }

      &--buttons {
        > .cui-button {
          padding: rem-calc(6) 0 0 0;

          &.#{$datepicker__class}__navigation--buttons--next {
            margin-left: rem-calc(20)
          }
        }
      }
    }

    &__day--names,
    &__week {
      white-space: nowrap;
    }

    &__day--names {
      padding-right: rem-calc(12);
      padding-left: rem-calc(12);

      color: $gray-2;
      text-align: center;
    }

    &__day--name,
    &__day-container {
      display: inline-flex;
      width: rem-calc(32);
      height: rem-calc(32);
      font-size: rem-calc(12);
      text-align: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: $button__radius--round;
    }

    &__day--name {
      font-size: rem-calc(10);
    }

    &__day {
      @include flex();
      width: rem-calc(28);
      height: rem-calc(28);
      color: $black;
      cursor: pointer;
      border-radius: $button__radius--round;

      &:hover {
        background-color: $black-12;
      }

      &--today {
        color: $white;
        background-color: $orange-base;

        &:hover {
          background-color: $orange-base;
        }
      }

      &--today--not-selected {
        font-weight: bold;
        color: $orange-base;
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }
      }

      &--disabled {
        color: $gray-4;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }

      &--selected {
        color: $white;
        background-color: $black;

        &:hover {
          background-color: $black;
        }
      }

      &--keyboard-selected {
        @include focus-styles();
      }

      &--outside-month {
        color: $gray-2;
      }
    }

    &__month {
      padding-bottom: rem-calc(9);
      text-align: center;
    }
  }
}
